---
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline="Perspective"
    title="Research background and theme"
    subtitle="Food security and green energy are becoming a popular research, because the world starts to concern about the unbalance of the dramatically increased human population and the current capacity of the natural resources. Cassava, which is a decade ago recognized as a cheap staple crop served as food for developing countries, is at the moment known as a crop of hope in both food and energy aspects. A niche of cassava underlying its significance lies on the capability to produce and accumulate huge amount of starch in the underground roots with respect to the other crops. Despite a high starch-content crop, the research on cassava mostly aims at an improvement of the yield of starch in storage roots. For Thailand, cassava is one of the most important crops. Cassava is mainly exported in forms of starch whose value is relatively low with respect to the other kinds of plant starch for example rice starch. In the regime of yield and properties of crop improvement, at the first stage, the researchers have put enormous afford on the growth condition and physiological studies to establish the optimal culture environment. Later, it has been believed that yield of starch relies very much on the genetics, so that breeding technique was introduced and played an important role in finding the better cassava strains. In 2009, the release of cassava genome moved the cassava research a step forward. <br />Here, to complement the regime of crop improvement, BML aims to utilize the fruitful data along with our experimental data to unwind the biological complexity underlying the phenotype of the living organism. Our laboratory investigates the regulation controlling the starch biosynthesis at all biological level from genomic data, and subsequently used it for kinetic modeling to study the dynamic regulation underlying the starch production process, including transcription, post-transcription, protein and metabolism, based on the network atlas (or pathway) of both individual level of regulation and the integral one."
    image={{
      src: '~/assets/images/crop-revolution.png',
      alt: 'xxx',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="research-interests"
    title="Research interests"
    subtitle="Discover how AstroWind's versatile template serves as the ideal solution for various use cases, providing tailored solutions to drive success."
    isReversed
    items={[
      {
        title: 'Comparative analysis of genomic sequence:',
        description:
          `- <strong>Reconstruction of the biological network for multi-level regulation of a cell</strong>: Gene regulatory network, post-transcriptional regulation network, metabolic network, and protein-protein interaction network <br /><strong>- Crop plant modeling</strong>: Plant cell development, phyto-product biosynthesis (especially starch biosynthesis in cassava), plant stress responses</li></ul>`,
      },
      {
        title: 'Plant-pathogen interaction modeling',
      },
      {
        title: 'Theoretical biological modeling',
        description: `Toy model simulation`,
      },
      {
        title: 'Omics data analysis and integration',
      },
    ]}
    image={{
      src: '~/assets/images/multi-levels-plant-systems-regulation.png',
      alt: 'Startup Image',
    }}
  />
  <!-- Features2 Widget ************** -->

  <Features3
    id="current-projects"
    title="Current Projects"
    subtitle="Provides resource for research communities"
    tagline="Our contributes"
    items={[
      {
        title: 'Reconstruction of starch biosynthesis pathway in cassava',
        description:
          'Reconstruction of metabolic pathway of starch biosynthesis which is of important for understanding the metabolic regulation is an initial step towards more comprehensive study on such a process. Here, we employ comparative genomic approach to build the metabolic network of cassava from available genome data of plant templates, including Arabidopsis thaliana, Castor Bean (Ricinus communis), Maize (Zea may), Potato (Solanum tuberosum), and Rice (Oryza sativa).',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Genome-scale model of carbon metabolism in cassava',
        description:
          'Starch yield is related to yields of the other products (such as lipid, protein, and cellulose). To increase yield of starch, carbon flux partitioning in cell is key information. Genome-scale modeling of carbon metabolism in cassava will be developed to monitor the flux distribution underlying the cassava biomass.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Towards cellular regulatory network of cassava starch biosynthesis ',
        description:
          'To gain more understanding about how a cellular process is regulated to express the cellular phenotype, a function of gene in a particular condition or plant tissues is always examined. However, the regulation of gene function in the metabolism and phenotypic responses is gone beyond the transcription regulation. The dynamic regulations as well as post-transcription, and post-translation are required to understand the cellular regulation relevant to cellular product biosynthesis. The cellular regulatory networks of interest include transcriptional regulatory network (TRN), post-transcriptional network (noncoding RNA network), and post-translational network (protein-protein interaction, PPI).',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Metabolic network relationship between cassava and its pathogen – plant-microbe interaction',
        description:
          'One of the most important problems for increasing the production rate of cassava is the way to protect cassava from its pathogen such as cassava brown streak virus (CBSV), cassava mosaic virus. The investigation of the metabolic network relationship between cassava and the pest will gain a better understanding for drug development against pathogenic diseases in cassava.',
        icon: 'flat-color-icons:document',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Collaborative  ************** -->
  <Features3
    id="collaboration"
    title="Domestic research partners"
    subtitle="CASB works closely with researchers from diverse fields in many research alliances, which are comprised of domestic and international research partners."
    tagline="Collaboration"
    items={[
      {
        title: 'BIOTEC, NSTDA',
        description: 'Thailand',
        link: 'https://www.biotec.or.th/',
      },
      {
        title: 'Mahidol University',
        description: 'Thailand',
        link: 'https://mahidol.ac.th/',
      },
      {
        title: 'Khon Kaen University',
        description: 'Thailand',
        link: 'https://www.kku.ac.th/',
      },
      {
        title: 'Department of Agriculture',
        description: 'Thailand',
        link: 'https://www.doa.go.th/en/',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Collaborative  ************** -->
  <Features3
    title="International research partners"
    items={[
      {
        title: 'RIKEN',
        description: 'Japan',
        link: 'https://www.riken.jp/en/',
      },
      {
        title: 'Forschungszentrum Jülich',
        description: 'Germany',
        link: 'https://www.fz-juelich.de/en/',
      },
      {
        title: 'Okinawa Institute of Science and Technology',
        description: 'Japan',
        link: 'https://www.oist.jp',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <!-- Collaborative  ************** -->
  <Features3
    title="Funding"
    items={[
      {
        title: 'NSTDA',
      },
      {
        title: 'BIOTEC',
      },
      {
        title: 'National Research Council of Thailand (NRCT)',
      },
      {
        title: 'Thailand Science Research and Innovation (TSRI)',
      },
      {
        title: "King Mongkut's University of Technology Thonburi",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
</Layout>
