---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Center for Agricultural Systems Biology - CASB',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Discover more', href: '/v2/about' },
    ]}
    image={{ src: '~/assets/images/systems-biology-integration.png', alt: 'Agricultural Systems Biology' }}
  >
    <Fragment slot="title">
      Advancing <span class="text-accent dark:text-white highlight">Agricultural Systems Biology</span> for Sustainable Crop Development
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">The Center for Agricultural Systems Biology (CASB)</span> at King Mongkut’s University of Technology Thonburi (KMUTT) is dedicated to accelerating the study of cellular regulation in crop plants. Our multidisciplinary team of researchers utilizes modeling techniques to gain insights into crop plant development, phyto-product biosynthesis, and crop yield improvement. Through our innovative research, we aim to achieve sustainable and efficient crop production for the future.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Explore Our Laboratory"
    title="Unlocking the Secrets of Cellular Regulation through Multidisciplinary Collaboration"
    subtitle="We bring together experts from diverse fields to delve deep into the study of celluar regulation, with a specific focus on crop plant development, phyto-product biosynthesis, and crop yield improvement."
    items={[
      {
        title: 'Cellular Regulation Research Areas',
        description:
          'Our research focuses on studying cellular regulation, crop plant development, phyto-product biosynthesis, and crop yield improvement. We exploy multidisciplinary expertise and modeling techniques to accerlerate comprehensive studies in these areas.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Crop Plant Development',
        description:
          'We investigate the regulation mechanisms underlying crop plant development, aiming to enhance our understanding and improve agricultural practices. Our research contributes to the advancement of crop yield and quality.',
        icon: 'tabler:components',
      },
      {
        title: 'Phyto-Product Biosynthesis',
        description:
          'At our center, we explore the intricate processes of phyto-product biosynthesis. By unraveling the regulation mechanisms, we aim to optimize the production of valuable compounds from plants for various applications.',
        icon: 'tabler:rocket',
      }
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Databases & Tools"
    subtitle="Provides resource for research communities"
    tagline="Our contributes"
    items={[
      {
        title: 'MePPI-In',
        description: "Genome-wide prediction of protein-protein interaction network of cassava using interolog-based method",
        icon: 'flat-color-icons:template',
        link: '/ppi',
      },
      {
        title: 'MePPI-U',
        description:
          "Integrative interactome network inferring the dynamic protein-protein interaction in cassava",
        icon: 'flat-color-icons:gallery',
        link: '/ppi2',
      },
      {
        title: 'MeRecon',
        description:
          'Carbon assimilation pathway of cassava',
        icon: 'flat-color-icons:approval',
        link: '/MeRecon'
      },
      {
        title: 'ph-MeRecon',
        description:
          "The compartmentalized network of primary carbon metabolism in photosynthetic tissues of cassava",
        icon: 'flat-color-icons:document',
        link: '/ph-MeRecon'
      },
      {
        title: 'Me-miRNA',
        description:
          'Cassava microRNAs collection',
        icon: 'flat-color-icons:advertising',
        link: '/miRNAs'
      },
      {
        title: 'Me-lncRNAs',
        description: 'Long non-coding RNA network',
        icon: 'flat-color-icons:currency-exchange',
        link: '/Me-lncRNAs'
      },
      {
        title: 'MeTRN',
        description: 'A Cassava Whole-genome Transcriptional Regulatory Network',
        icon: 'flat-color-icons:voice-presentation',
        link: '/MeTRN'
      },
      {
        title: 'Plant-DTI',
        description:
          'Plant DBD-TFBS Interaction Prediction',
        icon: 'flat-color-icons:business-contact',
        link: '/Plant-DTI'
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out our lab news"
    information={`Discover groundbreaking innovations at our Center for Agricultural Systems Biology Laboratory. 
                  Unleash the potential of cutting-edge research and join a dynamic community shaping the future of sustainable agriculture. 
                  Explore excellence today!
                `}
  />

</Layout>
